<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Review\Block\Adminhtml\Add\Form" type="BronzeByte\Review\Block\Adminhtml\Add\Form" />
    <preference for="Magento\Review\Block\Adminhtml\Edit\Form" type="BronzeByte\Review\Block\Adminhtml\Edit\Form" />
    <preference for="Magento\Review\Controller\Adminhtml\Product\Post" type="BronzeByte\Review\Controller\Adminhtml\Product\Post" />
    <preference for="Magento\Review\Controller\Adminhtml\Product\Save" type="BronzeByte\Review\Controller\Adminhtml\Product\Save" />
</config>
